@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
		 url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
		 url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
		 url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


$primary_color: #4361ee;
$secondary_color: #bc00dd;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:focus {
        border: none;
        outline: none;
    }
}

body {
    font-family: IRANSans;
}

a {
    text-decoration: none;
    color: #353535;
    transition: .3s;
    font-weight: 400;
    font-size: 1.03em;
    &:hover {
        color: $primary_color;
    }
}

nav {
    display: flex;
    align-items: center;
    a {
        margin-right: 15px;
        &:first-child {
            margin-right: 0;
        }
    }
    button {
        margin-right: 15px;
    }
}

.userbox {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin-right: 10px;
        &:first-child {
            margin-right: 0;
        }
    }
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.header-2 {
    margin-top: 100px !important;
}

.MuiAppBar-colorDefault {
    background-color: #fff !important;
}

.section-title-container {
    margin-bottom: 1.5em;
}

.container-d {
    padding-left: 40px;
    padding-right: 40px;
    margin: 90px 0 60px;
}

.section-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: IRANSans;
    font-weight: 700;
    color: #263238;
    b {
        display: block;
        -ms-flex: 1;
        flex: 1;
        height: 4px;
        opacity: .4;
        background-color: #263238;
    }
}

.section-title-center {
    span {
        text-align: center;
        margin: 0 15px;
    }
}

ul {
    list-style: none;
}

@media only screen and (max-width: 790px) {
    .header-2 {
        margin-top: 3rem !important;
    }
}

@media only screen and (min-width: 790px) and (max-width: 960px) {
    .header-2 {
        margin-top: 2rem !important;
    }
}

@media only screen and (max-width: 369px) {
    .mtxs {
        margin-top: 10px !important;
    }
}
